@import "./variables.css";

header {
  position: sticky;
  top: 0;
  z-index: 4;
  .barra {
    padding: 10px;
    background-color: var(--primaryCinzaPlus);
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
      max-width: 50px;
    }
  }
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
  .itemNav {
    list-style: none;
    border-radius: 5px;
    padding: 6px;
    a {
      text-decoration: none;
      font-size: large;
      font-weight: 600;
      height: max-content;
      color: var(--primaryGelo);
      &:hover {
        color: var(--primaryGeloHover);
      }
    }
  }
  .active {
    border-bottom: 3px var(--coral90) solid;
  }
}

.search-input {
  border-radius: 5rem;
  display: flex;
  background-color: var(--primaryGelo);
  & button {
    background-color: var(--coral90);
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 6px;
  }
  & input {
    background-color: var(--primaryGelo);
    color: var(--primaryColor);
    font-size: large;
    border-radius: 2rem;
    padding: 6px;
    border-style: none;
    outline: none;
  }
}

.button-inverse {
  border: 3px solid var(--primaryGelo);
  background-color: var(--primaryColor);
  padding: 7px;
  text-decoration: none;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5rem;
  color: var(--primaryGelo);
  font-size: larger;
  &:hover {
    background-color: var(--primaryColorHover);
  }
}
.button-full {
  background-color: var(--primaryGelo);
  padding: 7px;
  font-size: larger;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  text-decoration: none;
  border-radius: 5rem;
  color: var(--primaryColor);
  &:hover {
    background-color: var(--primaryGeloHover);
  }
}
@keyframes escrever {
  0% {
    width: 0ch;
  }
  33% {
    width: 33ch;
  }
  66% {
    width: 33ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.pesquisa {
  padding-top: 4rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 45px;
  & div.barra-pesquisa {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 38ch;
    padding: 5px 7px;
    border-radius: 5rem;
    background-color: white;
    box-shadow: black 1px 2px 5px;
    & img {
      max-width: 32px;
    }
    & p {
      width: 33ch;
      border-right: 5px solid;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      animation: escrever 10s infinite steps(32),
        blink 0.5s infinite alternate step-end;
    }
  }
}

.simbol {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--coral90);
  color: var(--primaryGelo);
  overflow: hidden;
  min-width: 80px;
  font-size: 3rem;
  font-weight: 500;
  min-height: 80px;
  border-radius: 50%;
}

.headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  /*background-image: url("../img/Juntos-InovandoBanner.png");*/
  background-position: center;
  font-size: medium;
}
.listIcon {
  list-style-type: none;
  & li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0px;
    margin-bottom: 10px;
    text-align: left;
    & img {
      max-width: 32px;
    }
    & a {
      font-weight: 400;
      color: var(--coral80);
    }
  }
}

.cardComp {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;

  width: 45%;

  font-size: large;
  color: var(--primaryColor);
  transition: 500ms ease-in-out;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10px;
  & .contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    & .contatoTitle {
      display: flex;
      justify-content: center;
      & img {
        height: 32px;
      }
    }
  }
  & .imgMember {
    max-height: 300px;
    border-radius: 15px 0px 0px 15px;
  }
  & h2 {
    background-color: var(--coral120);
    color: var(--primaryGelo);
    border-top-right-radius: 15px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 2.5rem;
  gap: 20px;

  background-color: var(--primaryColor);
  color: var(--primaryGelo);
  & h2 {
    text-align: center;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    & img,
    a {
      max-height: 200px;
    }
  }
  .siga-nos {
    & a,
    img {
      max-width: 50px;
    }
  }
  .footer-border {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
    border-bottom: 2px solid var(--primaryCinza);
  }
}
.card {
  margin: 30px;
  width: 390px;
  min-height: 400px; /* agora cresce naturalmente */
  background-color: white;
  padding: 1px;
  color: var(--primaryColor);
  font-size: 19px;
  text-align: center;
  border-radius: 20px;
  background-color: var(--primaryGelo);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.lista-parceiros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  .empresa {
    border-radius: 15px;
    border: 4px solid;
    transition: ease-in 200ms;
    &:hover {
      box-shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px,
        #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    }
    & img {
      border-radius: 11px;
      max-width: 300px;
    }
  }
}

form {
  background-color: var(--coral80);
  border-radius: 15px;
  min-width: 33%;
  padding: 2rem;
  color: var(--primaryGelo);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.27);
  & button {
    padding: 12px;
    background-color: var(--primaryCoralBlack);
    border: 2px solid var(--primaryCoralBlack);
    border-radius: 12px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
  }
  & .form-groups {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1.5rem;
    & label {
      margin-bottom: 5px;
      font-weight: 600;
      color: var(--primaryCoralBlack);
    }
    & input,
    textarea {
      background-color: var(--primaryGelo);
      border-style: none;
      padding: 5px;
      border-radius: 10px;
      color: var(--primaryCinza);
      outline: none;
      font-size: 1rem;
      transition: 0.2s;
    }
  }
  & input::placeholder,
  textarea::placeholder {
    color: var(--primaryCinza);
  }
  & .form-groups textarea {
    height: 140px;
    resize: none;
  }
  .fale-botoes {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
  }
}
