@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primaryColor: #000000;
  --textHover: #808080;
  --primaryCoral: #ff6f61;
  --primaryCoralClaro: #ffb6af;
  --primaryCoralMain: #eba9a4;
  --primaryCinza: #4a4a4a;
  --primaryCinzaPlus: #1f1f1f;
  --primaryGelo: #f5f5f5f5;
  --primaryGeloHover: #d6d6d6f5;
  --primaryCoralBlack: #e05243;
  --primaryCoralBlackHover: #c42c1b;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif !important;
  scroll-behavior: smooth;
  scrollbar-color: var(--primaryCoral) var(--primaryCinzaPlus); /* Cor do 'thumb' e 'track' */
}

#banner {
  max-width: 170px;
}
body {
  background-color: var(--primaryGelo);
}

header {
  background-color: var(--primaryCinzaPlus);
  display: flex;
  align-items: center;
  justify-content: space-around;
  & ul {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    & li {
      list-style: none;
      border-radius: 5px;
      padding: 6px;
      & a {
        text-decoration: none;
        font-size: large;
        font-weight: 600;
        height: max-content;
        color: var(--primaryGelo);
        &:hover {
          color: var(--primaryGeloHover);
        }
      }
    }
  }
  & .barra-pesquisa {
    border: 3px var(--primaryGelo) solid;
    border-radius: 5px;
    display: flex;
    background-color: var(--primaryColor);
    & button {
      background-color: var(--primaryColor);
      border-style: none;
      cursor: pointer;
      padding: 5px;
    }
    & input {
      background-color: var(--primaryColor);
      color: var(--primaryGelo);
      border-style: none;
      outline: none;

      margin: 3px;
      border-right: 1px var(--primaryGelo) solid;
    }
  }
}
#atual {
  border-bottom: 3px var(--primaryCoralBlack) solid;
}

#search {
  --borderInput: 15px;
  display: flex;
  background-color: solid 2px var(--primaryCoralBlack);
  width: 20%;
  border-radius: 5px;
  & input[type="search"] {
    border-style: none;
    transition: 150ms ease-in;
    outline: none;
    padding: 5px;
    width: 100%;
    font-size: medium;
    border-top-left-radius: var(--borderInput);
    border-bottom-left-radius: var(--borderInput);
  }
  & button {
    background-color: var(--primaryCoralBlack);
    text-align: center;
    padding: 5px;
    transition: 150ms ease-in;
    cursor: pointer;
    border-top-right-radius: var(--borderInput);
    border-bottom-right-radius: var(--borderInput);
    border-style: none;
    &:hover {
      background-color: var(--primaryCoralBlackHover);
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--primaryGelo);
  color: var(--primaryColor);
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  min-height: 500px;
  color: var(--primaryGelo);
  background-color: var(--primaryColor);
  background-image: url("../img/Juntos-Inovando\ -\ Copia.png");
  font-size: medium;
  & p {
    width: 100%;
  }
}
.content-buttons {
  margin-top: 20px;

  & a.button-full {
    background-color: var(--primaryGelo);
    padding: 7px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    text-decoration: none;
    border-radius: 5rem;
    color: var(--primaryColor);
  }
  & a.button-inverse {
    border: 3px solid var(--primaryGelo);
    background-color: var(--primaryColor);
    padding: 7px;
    text-decoration: none;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5rem;
    color: var(--primaryGelo);
  }
}
#imgSlide {
  max-height: 400px;
  border-radius: 10px;
}
.content-text {
  display: flex;
  padding-top: 65px;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  text-align: center;
  & h1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 3px var(--primaryGelo) solid;
  }
  & p {
    width: 50%;
  }
}

.skils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  & img {
    max-width: 90px;
    border-radius: 7px;
  }
  & p {
    max-width: 60%;
  }
}
.itemSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: large;
  transition: 500ms ease-in-out;
  border-radius: 7px;

  box-shadow: 1px 1px 1px var(--textHover);
  padding: 10px;
  border: 1px solid var(--primaryGeloHover);
  background-color: white;
  &:hover {
    box-shadow: 1px 7px 7px 2px var(--textHover);
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding-bottom: 2.5rem;
  margin-top: 5rem;
  gap: 20px;

  background-color: var(--primaryColor);
  color: var(--primaryGelo);
  & h2 {
    text-align: center;
  }
}
.footer-border {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-bottom: 2px solid var(--primaryCinza);
}

.iframe {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.siga-nos {
  & a,
  img {
    max-width: 50px;
  }
}
.iframe-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  & img,
  a {
    max-height: 150px;
  }
  & ul {
    list-style-type: none;
    & li {
      display: grid;
      align-items: center;
      grid-template-columns: 40% 60%;
      padding-left: 0px;
      margin-bottom: 10px;
      & img {
        max-width: 32px;
      }
      & a {
        font-weight: 400;
        color: var(--primaryCoralMain);
      }
    }
  }
}
.carousel-inner {
  border-radius: 7px !important;
}
