@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./variables.css";
@import "./components.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif !important;
  scroll-behavior: smooth;
  scrollbar-color: var(--primaryCoral) var(--primaryCinzaPlus); /* Cor do 'thumb' e 'track' */
}

body {
  background-color: var(--primaryGelo);
}


main {
  display: flex;
  flex-direction: column;
  background-color: var(--bgProvisorio);
  color: var(--primaryColor);
  padding-bottom: 75px;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  min-height: 500px;
  color: var(--primaryGelo);
  background-color: var(--primaryColor);
  background-image: url("../img/Juntos-InovandoBanner.png");
  font-size: medium;
  & p {
    width: 100%;
  }
}

.content-text {
  display: flex;
  padding-top: 65px;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  text-align: center;
  & h1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border-bottom: 3px var(--primaryGelo) solid;
  }
  & p {
    width: 50%;
  }
}

.skils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  padding-top: 75px;
  gap: 2rem;
  & img {
    max-width: 90px;
    border-radius: 7px;
  }
  & p {
    max-width: 60%;
  }
}

.itemSkill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: large;
  transition: 500ms ease-in-out;
  border-radius: 7px;

  box-shadow: 1px 1px 1px var(--textHover);
  padding: 10px;
  border: 1px solid var(--primaryGeloHover);
  background-color: white;
  &:hover {
    box-shadow: 1px 7px 7px 2px var(--textHover);
  }
}

.footer-border {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  border-bottom: 2px solid var(--primaryCinza);
}


.carousel-inner {
  border-radius: 7px !important;
}

/*MOD Lucas P.*/

.headerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 250px;
  margin-bottom: 75px;
  color: var(--primaryGelo);
  background-color: var(--primaryColor);
  background-image: url("../img/Juntos-InovandoBanner.png");
  background-position: center;
  font-size: medium;
  & p {
    width: 100%;
  }
}
.membros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.imgMember {
  height: 250px;
}
.contato {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}