:root {
  --primaryColor: #000000;
  --textHover: #808080;
  --primaryCoral: #ff6f61;
  --primaryCoralClaro: #ffb6af;
  --primaryCoralMain: #eba9a4;
  --primaryCinza: #4a4a4a;
  --primaryCinzaPlus: #1f1f1f;
  --primaryGelo: #f5f5f5f5;
  --primaryGeloHover: #d6d6d6f5;
  --primaryCoralBlack: #e05243;
  --primaryCoralBlackHover: #c42c1b;

  --bgProvisorio: #633737;
}