:root {
  --primaryColor: #000000;
  --primaryColorHover: #141414;
  --primaryCinzaPlus: rgb(31, 31, 31);
  --primaryCinza: #4a4a4a;
  --textHover: #808080;
  --primaryCoralMain: #eba9a4;
  --primaryCoralClaro: #ffb6af;
  --primaryGeloHover: #d6d6d6f5;
  --primaryGeloClaro: #ebebebf5;
  --primaryGelo: #f5f5f5f5;
  --coral120: #6e0b00;
  --coral110: #be2d1d;
  --coral100: #872318;
  --coral90: #a30e05;
  --coral80: #c42c1b;
  --coral70: #bb4134;
  --coral60: #e05243;
  --coral50: #ff6f61;

  --laranja100: #da880f;

}